<ActionBar title="Crypto"> </ActionBar>
<GridLayout>
  <ActivityIndicator visibility="{{ isActivityVisible ? 'visible' : 'collapsed' }}" [busy]="isBusy" (busyChange)="onBusyChanged($event)"></ActivityIndicator>

  <ListView [items]="currencies">
    <ng-template let-item="item">
      <StackLayout [nsRouterLink]="['/item', item.id]"  orientation="horizontal">
        <Label width="34%" col="0" [text]="item.name"></Label>
        <Label  width="33%"  col="1" [text]="item.current_price+' $'"></Label>
        <Label width="33%"  col="2" [text]="item.price_change_percentage_24h+' %'"></Label>
     </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>